@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "CampaignList";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}



<style>
    .mdi {
        font-size: 22px;
        margin: 0 5px 0 5px;
    }

    .couponTable th, .couponTable td {
        font-size: 13px;
    }
</style>
<div class=" mt-5 ml-5 mr-5">
 

    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Kampanya Listesi</h2>
                    <div class="dropdown">
                        <a href="/Management/AddCampaign" class="btn btn-outline-primary">Kampanya Ekle</a>

                    </div>
                </div>
                <div class="card-body">
                    <table id="campaignTable" class="table table-hover table-product campaignTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Kampanya Resmi</th>
                                <th>Kampanya Başlığı</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Durum</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.campaigns.ToList())
                            {
                                <tr>
                                    <td class="">

                                        <img src="@item.campaign_cover" alt="Alternate Text" />
                                    </td>
                                    <td>
                                        @item.campaign_title
                                    </td>
                                    <td>@item.campaign_start_date</td>
                                    <td>@item.campaign_end_date</td>
                                    <td> <span class="badge @(item.is_active==true?"badge-success":"badge-danger")">@(item.is_active == true?"Aktif":"Pasif")</span> </td>

                                    <td>
                                        @*<a href="#">
                <span class="mdi mdi-eye text-primary "></span>

            </a>*@
                                        <a href="/Management/EditCampaign/@item.id">
                                            <span class="mdi mdi-pen text-success"></span>

                                        </a>
                                        <a onclick="Remove(@item.id)">
                                            <span class="mdi mdi-trash-can-outline text-danger"></span>

                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }




                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>



<script>

    function Remove(Id) {

        $.ajax({
            url: '/Management/RemoveCampaign/',
            type: 'Post',
            data: { Id: Id },
            success: function (response) {


                if (response.success) {
                    toastr.success(response.message);

                    var tbody = $("#campaignTable tbody");
                    tbody.empty();


                    response.campaigns.forEach(function (campaign) {
                        var row = "<tr>" +
                            "<td><img src='" + campaign.campaign_cover + "' alt='Kampanya Resmi'></td>" +
                            "<td>" + campaign.campaign_title + "</td>" +
                            "<td>" + campaign.StartDate + "</td>" +
                            "<td>" + campaign.EndDate + "</td>" +
                            "<td><span class='badge " + (campaign.is_active ? "badge-success" : "badge-danger") + "'>" +
                            (campaign.is_active ? "Aktif" : "Pasif") + "</span></td>" +
                            "<td>" +
                            "<a href='/Management/EditCampaign/" + campaign.id + "'><span class='mdi mdi-pen text-success'></span></a>" +
                            "<a onclick='Remove(" + campaign.id + ")'><span class='mdi mdi-trash-can-outline text-danger'></span></a>" +
                            "</td>" +
                            "</tr>";
                        tbody.append(row);
                    });





                } else {
                    toastr.error(response.message);
                }



            }, error: function (e) {
                console.log(e)
                toastr.error('Kupon Silinirken Bir Hata Oluştu', 'Hata');

            }



        });

    }




</script>
