@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<style>
    .mdi {
        font-size: 22px;
        margin: 0 5px 0 5px;
    }
</style>
<div class=" mt-5 ml-5 mr-5">

    <!-- Table Category -->
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Kategori Listesi</h2>

                    <div class="dropdown">
                        <a href="/Management/AddCategory" class="btn btn-outline-primary">Kategori Ekle</a>
                    </div>
                    <div class="card-body">
                        <table id="categoryTable" class="table table-hover table-product dt-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Resim</th>
                                    <th>Kategori Adı</th>
                                    <th>Açıklama</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model.categories)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td>
                                            @if (item.cover != null)
                                            {
                                                <img src="@item.cover"
                                                     alt=""
                                                     class="img1" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/theme/images/empty.png"
                                                     alt=""
                                                     class="img1" - />
                                            }
                                        </td>
                                        <td>@item.name</td>
                                        <td>@item.description</td>
                                        <td>@item.created_at</td>

                                        <td>

                                            <a href="/Management/EditCategory/@item.id">
                                                <span class="mdi mdi-pen text-success"></span>

                                            </a>
                                            <a onclick="ShowCategoryModal(@item.id)">
                                                <span class="mdi mdi-trash-can-outline text-danger"></span>

                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }




                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>





    <!-- Table SubCategory -->
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Alt Kategori Listesi</h2>

                    <div class="dropdown">
                        <a href="/Management/AddCategory" class="btn btn-outline-primary">Alt Kategori Ekle</a>
                    </div>
                    <div class="card-body">
                        <table id="subCategoryTable" class="table table-hover table-product" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Kategori Adı</th>
                                    <th>Açıklama</th>
                                    <th>Üst Kategori</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.sub_categories)
                                {
                                    <tr>
                                        <td>@item.id</td>

                                        <td>@item.name</td>
                                        <td>@item.description</td>
                                        <td>@(Model.categories.FirstOrDefault(x=>x.id==item.parent_id) == null ?"Kategori yok": Model.categories.FirstOrDefault(x => x.id == item.parent_id).name )</td>
                                        <td>@item.created_at</td>

                                        <td>

                                            <a href="/Management/EditSubCategory/@item.id">
                                                <span class="mdi mdi-pen text-success"></span>

                                            </a>
                                            <a onclick="ShowSubCategoryModal(@item.id)">
                                                <span class="mdi mdi-trash-can-outline text-danger"></span>

                                            </a>
                                        </td>
                                    </tr>

                                }




                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- Table SubSubCategory -->
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Alt Alt Kategori Listesi</h2>

                    <div class="dropdown">
                        <a href="/Management/AddCategory" class="btn btn-outline-primary">Alt Alt Kategori Ekle</a>
                    </div>
                    <div class="card-body">
                        <table id="subsubCategoryTable" class="table table-hover table-product" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Kategori Adı</th>
                                    <th>Açıklama</th>
                                    <th>Üst Kategori</th>
                                    <th>Oluşturulma Tarihi</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.sub_subcategories)
                                {
                                    <tr>
                                        <td>@item.id</td>

                                        <td>@item.name</td>
                                        <td>@item.description</td>
                                        <td>@(Model.sub_categories.FirstOrDefault(x=>x.id==item.parent_sub_category_id) == null ?"Kategori yok": Model.sub_categories.FirstOrDefault(x => x.id == item.parent_sub_category_id).name )</td>
                                        <td>@item.created_at</td>

                                        <td>

                                            <a href="/Management/EditSubSubCategory/@item.id">
                                                <span class="mdi mdi-pen text-success"></span>

                                            </a>
                                            <a onclick="ShowSubSubCategoryModal(@item.id)">
                                                <span class="mdi mdi-trash-can-outline text-danger"></span>

                                            </a>
                                        </td>
                                    </tr>

                                }




                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


<div class="modal fade" id="RemoveCModal" tabindex="-1" role="dialog" aria-labelledby="RemoveCModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLongTitle2">Kategoriyi silmek istediğinize emin misiniz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Onaylamanız halinde kategori silinip kategori altındaki ürünler kategorisiz olarak kalacaktır. Eğer ürünler alt kategorilere sahipse bunlar saklanacaktır. İlgili kategorilere üst kategori seçerek ürünleri yeniden kategorilendirebilirsiniz.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">İptal Et</button>
                <button type="button" class="btn btn-danger btn-pill">Sil!</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="RemoveSCModal" tabindex="-1" role="dialog" aria-labelledby="RemoveSCModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLongTitle2">Alt kategoriyi silmek istediğinize emin misiniz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Onaylamanız halinde kategori silinip kategori altındaki ürünler kategorisiz olarak kalacaktır. Eğer ürünler alt alt kategoriye sahipse bu kategorinin üst kategorisini değiştirerek ürünleri yeniden kategorilendirebilirsiniz.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">İptal Et</button>
                <button type="button" class="btn btn-danger btn-pill">Sil!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RemoveSSCModal" tabindex="-1" role="dialog" aria-labelledby="RemoveSSCModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLongTitle2">Alt alt kategoriyi silmek istediğinize emin misiniz?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Onaylamanız halinde kategori silinip kategori altındaki ürünler bir üst kategoriye taşınacaktır.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">İptal Et</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Remove(id) {

        $.ajax({
            url: '/Management/RemoveCategory/',
            type: 'POST',
            data: { Id: id },
            success: function (result) {
                console.log("success");
                toastr.success('Kategori Başarıyla Silindi', 'Başarılı');


                var tbody = $("#categoryTable tbody");
                tbody.empty();


                result.forEach(function (category) {
                    var row = "<tr>" +
                        "<td>" + category.id + "</td>" +
                        "<td>" + category.name + "</td>" +
                        "<td>" + category.description + "</td>" +

                        "<td>" + category.created_at + "</td>" +
                        "<td>" +
                        "<a href='/Management/EditCategory/" + category.id + "'><span class='mdi mdi-pen text-success'></span></a>" +
                        "<a onclick='Remove(" + category.id + ")'><span class='mdi mdi-trash-can-outline text-danger'></span></a>" +
                        "</td>" +
                        "</tr>";
                    tbody.append(row);
                });


                $('#RemoveCModal').modal('hide');




            }


        });


    }
    function RemoveSub(id) {

        $.ajax({
            url: '/Management/RemoveSubCategory/',
            type: 'POST',
            data: { Id: id },
            success: function (result) {
                console.log("success");
                toastr.success('Alt Kategori Başarıyla Silindi', 'Başarılı');


                var tbody = $("#subCategoryTable tbody");
                tbody.empty();


                result.forEach(function (category) {
                    var row = "<tr>" +
                        "<td>" + category.id + "</td>" +
                        "<td>" + category.name + "</td>" +
                        "<td>" + category.description + "</td>" +

                        "<td>" + category.parentCategory + "</td>" +
                        "<td>" + category.created_at + "</td>" +
                        "<td>" +
                        "<a href='/Management/EditSubCategory/" + category.id + "'><span class='mdi mdi-pen text-success'></span></a>" +
                        "<a onclick='RemoveSub(" + category.id + ")'><span class='mdi mdi-trash-can-outline text-danger'></span></a>" +
                        "</td>" +
                        "</tr>";
                    tbody.append(row);
                });


                $('#RemoveSCModal').modal('hide');


            }


        });


    }
    function RemoveSubSub(id) {

        $.ajax({
            url: '/Management/RemoveSubSubCategory/',
            type: 'POST',
            data: { Id: id },
            success: function (result) {
                console.log("success");
                toastr.success('Alt Alt Kategori Başarıyla Silindi', 'Başarılı');


                var tbody = $("#subsubCategoryTable tbody");
                tbody.empty();


                result.forEach(function (category) {
                    var row = "<tr>" +
                        "<td>" + category.id + "</td>" +
                        "<td>" + category.name + "</td>" +
                        "<td>" + category.description + "</td>" +

                        "<td>" + category.parentCategory + "</td>" +
                        "<td>" + category.created_at + "</td>" +
                        "<td>" +
                        "<a href='/Management/EditSubSubCategory/" + category.id + "'><span class='mdi mdi-pen text-success'></span></a>" +
                        "<a onclick='RemoveSubSub(" + category.id + ")'><span class='mdi mdi-trash-can-outline text-danger'></span></a>" +
                        "</td>" +
                        "</tr>";
                    tbody.append(row);
                });

                $('#RemoveSCCModal').modal('hide');



            }


        });


    }


    function ShowCategoryModal(id) {
        $('#RemoveCModal').modal('show');

        var btn = '<button type= "button" class="btn btn-primary btn-pill" data-dismiss="modal" > İptal Et</button > ' +
            " <a class='btn btn-danger btn-pill' onclick='Remove(" + id + ")'>Sil!</a>";
        $('#RemoveCModal .modal-footer').empty();
        $('#RemoveCModal .modal-footer').append(btn);
    }
    function ShowSubCategoryModal(id) {
        $('#RemoveSCModal').modal('show');
        var btn = '<button type= "button" class="btn btn-primary btn-pill" data-dismiss="modal" > İptal Et</button > ' +
            " <a class='btn btn-danger btn-pill' onclick='RemoveSub(" + id + ")'>Sil!</a>";
        $('#RemoveSCModal .modal-footer').empty();
        $('#RemoveSCModal .modal-footer').append(btn);

    }
    function ShowSubSubCategoryModal(id) {
        $('#RemoveSSCModal').modal('show');
        
        var btn = '<button type= "button" class="btn btn-primary btn-pill" data-dismiss="modal" > İptal Et</button > '+
            " <a class='btn btn-danger btn-pill' onclick='RemoveSubSub(" + id + ")'>Sil!</a>";
        $('#RemoveSSCModal .modal-footer').empty();
        $('#RemoveSSCModal .modal-footer').append(btn);

    }
</script>