@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "CouponList";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}


<style>
    .mdi {
        font-size: 22px;
        margin: 0 5px 0 5px;
    }
    .couponTable  th,.couponTable td{
        font-size:13px;
    }
  
</style>
<div class=" mt-5 ml-5 mr-5">

    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Kupon Listesi</h2>
                    <div class="dropdown">
                        <a href="/Management/AddCoupon" class="btn btn-outline-primary">Kupon Ekle</a>

                    </div>
                </div>
                <div class="card-body">
                    <table id="couponTable" class="table table-hover table-product couponTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>Kupon Kodu</th>
                                <th>İndirim Türü</th>
                                <th>İndirim Miktarı</th>
                                <th>Min Tutar</th>
                                <th>Max İndirim Tutarı</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Durum</th>

                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.coupons)
                            {
                                <tr>
                                    <td class="">
                                        @item.Code
                                    </td>
                                    <td>
                                        @item.DiscountType
                                    </td>
                                    <td>@item.DiscountValue</td>
                                    <td>@item.MinimumSpend</td>
                                    <td>@item.MaxDiscountAmount</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.CreatedAt</td>
                                    <td> <span class="badge @(item.IsActive==true?"badge-success":"badge-danger")">@(item.IsActive==true?"Aktif":"Pasif")</span> </td>

                                    <td>

                                        <a href="/Management/EditCoupon/@item.Id">
                                            <span class="mdi mdi-pen text-success"></span>

                                        </a>
                                        <a onclick="ShowModal(@item.Id)">
                                            <span class="mdi mdi-trash-can-outline text-danger"></span>

                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }




                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="RemoveModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalLongTitle2">Kuponu silmek istediğinize emin misiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Onaylamanız halinde kupon silinecektir. Bir daha bu kupona erişiminiz olmayacaktır. Onaylıyor musunuz?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">İptal Et</button>
                    <button type="button" class="btn btn-danger btn-pill">Sil!</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function Remove(Id) {

        $.ajax({
            url: '/Management/RemoveCoupon/',
            type: 'Post',
            data: { Id: Id },
            success: function (response) {


                if (response.success) {
                    toastr.success(response.message);

                    var tbody = $("#couponTable tbody");
                    tbody.empty();

                    response.coupons.forEach(function (coupon) {
                        var row = "<tr>" +
                            "<td >" + coupon.Code + "</td>" +
                            "<td>" + coupon.DiscountType + "</td>" +
                            "<td>" + coupon.DiscountValue + "</td>" +
                            "<td>" + coupon.MinimumSpend + "</td>" +
                            "<td>" + coupon.MaxDiscountAmount + "</td>" +
                            "<td>" + coupon.StartDate + "</td>" +
                            "<td>" + coupon.EndDate + "</td>" +
                            "<td>" + coupon.CreatedAt + "</td>" + 
                            "<td><span class='badge " + (coupon.IsActive ? "badge-success" : "badge-danger") + "'>" +
                            (coupon.IsActive ? "Aktif" : "Pasif") + "</span></td>" +
                            "<td>" +
                            "<a  href='/Management/EditCoupon/" + coupon.Id + "'><span class='mdi mdi-pen text-success'></span></a>" +
                            "<a onclick='Remove(" + coupon.Id + ")'><span class='mdi mdi-trash-can-outline text-danger'></span></a>" +
                            "</td>" +
                            "</tr>";
                        tbody.append(row);
                    });

                    $('#RemoveModal').modal('hide');



                } else {
                    toastr.error(response.message);
                    $('#RemoveModal').modal('hide');

                }
               
            

            }, error: function (e) {
                console.log(e)
                toastr.error('Kupon Silinirken Bir Hata Oluştu', 'Hata');

            }



        });

    }



    function ShowModal(id) {
        $('#RemoveModal').modal('show');

        var btn = '<button type= "button" class="btn btn-primary btn-pill" data-dismiss="modal" > İptal Et</button > ' +
            " <a class='btn btn-danger btn-pill' onclick='Remove(" + id + ")'>Sil!</a>";
        $('#RemoveModal .modal-footer').empty();
        $('#RemoveModal .modal-footer').append(btn);
    }
</script>
