@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}


<style>
    .mdi {
        font-size: 22px;
        margin: 0 5px 0 5px;
    }
 
</style>
<div class=" mt-5 ml-5 mr-5">

    <!-- Table Order -->
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Sipariş Listesi</h2>

              
                    <div class="card-body">
                        <table id="orderTable" class="table table-product" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Sipariş Id</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Ürün Adı</th>
                                    <th>Adet</th>
                                    <th>Toplam Tutar</th>
                                    <th>Sipariş Durumu</th>
                                    <th>Sipariş Tarihi</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model.order_item)
                                {
                                    <tr orderId="@item.order_id" payId="@Model.payment_details.FirstOrDefault(x=>x.order_id == item.order_id).paymentId" class="@(item.order_details.is_delivered!=true ? "notDelivered blink-effect":"")">
                                        <td class="py-0">
                                            <img src="@item.products.cover" alt="Alternate Text" />
                                        </td>
                                        <td>@item.id</td>
                                        <td>@item.order_id</td>
                                        <td>@item.order_details.users.username</td>
                                        <td>@item.products.name</td>
                                        <td>@item.quantity</td>
                                        <td>@(Model.products_skus.FirstOrDefault(p => p.product_id == item.product_id).price * item.quantity)</td>
                                        <td class="paymentstatus">@Model.payment_details.FirstOrDefault(x=>x.order_id==item.order_id).status</td>
                                        <td>@item.created_at</td>


                                        <td></td>
                                      
                                    </tr>
                                    i++;
                                }




                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.jqueryui.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.jqueryui.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.min.js"></script>
<link href="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.dataTables.min.css" rel="stylesheet">

<script src="https://cdn.datatables.net/rowreorder/1.5.0/js/dataTables.rowReorder.min.js"></script>
<script>


    function Refund(payId) {

        $.ajax({
            url: '/Management/Refund/',
            type: 'POST',
            data: { PaymentId: payId },
            success: function (result) {
                if (result.success) {
                    toastr.success(result.message, 'İşlem Başarılı');

                    var tr = $("#orderTable tbody [orderId='"+ result.list[0].order_id +"']");

                    tr.find(".paymentstatus").text(result.list[0].paymentstatus);
                    
                  




                } else {
                    toastr.error(result.message, 'İşlem Başarısız');

                }

           




            }


        });




    }

   

</script>