@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}<style>
    .mdi {
        font-size: 22px;
        margin: 0 5px 0 5px;
    }
</style>
 <div class=" mt-5 ml-5 mr-5">

     <!-- Table Product -->
     <div class="row">
         <div class="col-12">
             <div class="card card-default">
                 <div class="card-header">
                     <h2>Ürün Listesi</h2>

                     <div class="dropdown">
                         <a href="/Management/AddProduct" class="btn btn-outline-primary">Ürün Ekle</a>
                     </div>
                     <div class="card-body">
                         <table id="productsTable" class="table table-hover table-product" style="width:100%">
                             <thead>
                                 <tr>
                                     <th></th>
                                     <th>Ürün Adı</th>
                                     <th>ID</th>
                                     <th>Stok Kodu</th>
                                     <th>Satılan</th>
                                     <th>Stokta</th>
                                     <th></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 @{
                                     int i = 1;
                                 }
                                 @foreach (var item in Model.products)
                                 {
                                     <tr pid="@item.id">
                                         <td class="py-0">
                                             @if (item.cover != null)
                                             {
                                                 <img src="@item.cover"
                                                      alt=""
                                                      class="img1" />
                                             }
                                             else
                                             {
                                                 <img src="~/Content/theme/images/empty.jpg"
                                                      alt=""
                                                      class="img1" />
                                             }
                                         </td>
                                         <td>@item.name</td>
                                         <td>@item.id</td>
                                         <td>
                                             @item.products_skus.FirstOrDefault().sku
                                         </td>
                                         <td>@(Model.order_item.Where(x=>x.status=="success" && x.product_id==item.id).Sum(y=>y.quantity))</td>
                                       
                                         <td>@item.products_skus.FirstOrDefault().quantity</td>
                                         <td>
                                             <a href="/Home/Product/@item.id">
                                                 <span class="mdi mdi-eye text-bg-warning "></span>

                                             </a>
                                             <a href="/Management/EditProduct/@item.id">
                                                 <span class="mdi mdi-pen text-success"></span>

                                             </a>
                                             <a onclick="ShowModal(@item.id)">
                                                 <span class="mdi mdi-trash-can-outline text-danger"></span>

                                             </a>
                                         </td>
                                     </tr>
                                     i++;
                                 }




                             </tbody>
                         </table>

                     </div>
                 </div>
             </div>
         </div>

     </div>


     <div class="modal fade" id="RemoveModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModal"
          aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="removeModalLongTitle2">Ürünü silmek istediğinize emin misiniz</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">×</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <p>
                         Onaylamanız halinde ürün silinecektir. Bir daha bu ürüne erişiminiz olmayacaktır. Onaylıyor musunuz?
                     </p>
                 </div>
                 <form id="RemoveProductForm" action="/Management/RemoveProduct" method="post">
                     @Html.AntiForgeryToken()
                     <div class="modal-footer">
                         <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">İptal Et</button>
                         <button type="button" class="btn btn-danger btn-pill">Sil!</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>


 </div>
<script>
    function Remove(id) {
        var token = $('#RemoveProductForm input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/Management/RemoveProduct/',
            type: 'POST',
            data: { __RequestVerificationToken: token, Id: id },
            success: function (result) {
                console.log("success");
                toastr.success('Ürün Başarıyla Silindi', 'Başarılı');


               var row= $('[pid="' + id + '"]');
              
                var table = $('#productsTable').DataTable();

                table.row(row).remove().draw();
               
                $('#RemoveModal').modal('hide');




            }

        });


    }
    function ShowModal(id) {
        $('#RemoveModal').modal('show');

        var btn = '<button type= "button" class="btn btn-primary btn-pill" data-dismiss="modal" > İptal Et</button > ' +
            " <a class='btn btn-danger btn-pill' onclick='Remove(" + id + ")'>Sil!</a>";
        $('#RemoveModal .modal-footer').empty();
        $('#RemoveModal .modal-footer').append(btn);
    }

</script>