@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}<style>
    .mdi {
        font-size: 22px;
        margin: 0 5px 0 5px;
    }
</style>
<div class=" mt-5 ml-5 mr-5">

    <!-- Table Product -->
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Ürün Listesi</h2>

                    <div class="dropdown">
                        <a href="/Management/AddProduct" class="btn btn-outline-primary">Ürün Ekle</a>
                    </div>
                    <div class="card-body">
                        <table id="productsTable" class="table table-hover table-product" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Ürün Adı</th>
                                    <th>ID</th>
                                    <th>Adet</th>
                                    <th>Tür</th>
                                    <th>Committed</th>
                                    <th>Günlük Satış</th>
                                    <th>Satılmış</th>
                                    <th>Stokta</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model.products)
                                {
                                    <tr>
                                        <td class="py-0">
                                            @if (item.cover != null)
                                            {
                                                <img src="@item.cover"
                                                     alt=""
                                                     class="img1" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/theme/images/empty.jpg"
                                                     alt=""
                                                     class="img1" />
                                            }
                                        </td>
                                        <td>@item.name</td>
                                        <td>@item.id</td>
                                        <td>1</td>
                                        <td>@item.products_skus.Where(x => x.product_id == item.id).Count()</td>
                                        <td>2</td>
                                        <td>
                                            <div id="tbl-chart-0@(i)"></div>
                                        </td>
                                        <td>4</td>
                                        <td>@item.products_skus.FirstOrDefault().quantity</td>
                                        <td>
                                            <a href="/Home/Product/@item.id">
                                                <span class="mdi mdi-eye text-primary "></span>

                                            </a>
                                            <a href="/Management/EditProduct/@item.id">
                                                <span class="mdi mdi-pen text-success"></span>

                                            </a>
                                            <a onclick="Remove(@item.id)">
                                                <span class="mdi mdi-trash-can-outline text-danger"></span>

                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }




                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function Remove(id) {

        $.ajax({
            url: '/Management/RemoveProduct/',
            type: 'POST',
            data: { Id: id },
            success: function (result) {
                console.log("success");
                toastr.success('Ürün Başarıyla Silindi', 'Başarılı');


                var tbody = $("#productsTable tbody");
                tbody.empty();
                var i = 1;
                result.forEach(function (product) {
                    var row = "<tr>" + "<td class='py-0'> <img src='" + product.cover + "' alt='Product Image'></td>" +
                        "<td>" + product.name + "</td>" +
                        "<td>" + product.id + "</td>" +
                        "<td>1</td>" +
                        "<td>" + product.product_skus_count + "</td>" +
                        "<td>2</td>" +
                        "<td> <div id='tbl-chart-0"+i+"'></div></td> " +
                        "<td>4</td>" +
                        "<td>" + product.product_sku_quantity + "</td>" +
                        "<td>" +
                        "<a href='#'><span class='mdi mdi-eye text-primary'></span></a>" +
                        "<a href='/Management/EditAttribute/" + product.id + "'><span class='mdi mdi-pen text-success'></span></a>" +
                        "<a onclick='Remove(" + product.id + ")'><span class='mdi mdi-trash-can-outline text-danger'></span></a>" +
                        "</td>" +
                        "</tr>";
                    tbody.append(row);
                    i++;
                });




            }


        });


    }


</script>