@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<style>
    .mdi {
        font-size: 22px;
        margin: 0 5px 0 5px;
    }
</style>
<div class=" mt-5 ml-5 mr-5">


    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Kullanıcı Listesi</h2>
                    <div class="dropdown">
                        <a href="/Management/AddUser" class="btn btn-outline-primary">Kullanıcı Ekle</a>

                    </div>
                </div>
                <div class="card-body">
                    <table id="userTable" class="table table-hover table-product " style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Kullanıcı</th>
                                <th>Kullanıcı Adı</th>
                                <th>Telefon No</th>
                                <th>E-mail</th>
                                <th>Toplam Harcama</th>
                                <th>Üye Olma Tarihi</th>
                                <th>İşlem</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.users.Where(x => x.status == true))
                            {
                               
                                <tr userid="@item.id">
                                    <td class="py-0">
                                        <img src="@(item.avatar !=null ?item.avatar : "/Content/theme/images/User_Icon.png")" alt="user image">
                                    </td>
                                    <td>@item.first_name @item.last_name</td>
                                    <td>@item.username</td>

                                    <td>@item.phone_number</td>
                                    <td>@item.email</td>
                                    <td>
                                      @(item.order_details != null ?
                                            item.order_details
                                                .Where(od => od.user_id == item.id &&
                                                             od.payment_details != null &&
                                                             od.payment_details.FirstOrDefault() != null && // Null kontrolü
                                                             od.payment_details.FirstOrDefault().status == "success")
                                                .Sum(od => od.payment_details.FirstOrDefault() != null
                                                              ? od.payment_details.FirstOrDefault().paidPrice
                                                              : 0) : 0)₺ 
                                    </td>
                                    <td>@item.created_at</td>

                                    <td>
                                        <a href="#">
                                            <span class="mdi mdi-eye text-primary "></span>

                                        </a>
                                        <a href="/Management/EditUser/@item.id">
                                            <span class="mdi mdi-pen text-success"></span>

                                        </a>
                                        <a onclick="ShowModal(@item.id)">
                                            <span class="mdi mdi-trash-can-outline text-danger"></span>

                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }




                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="RemoveModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalLongTitle2">Ürünü silmek istediğinize emin misiniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Onaylamanız halinde kullanıcı silinecektir. Bir daha bu kullanıcıya erişiminiz olmayacaktır. Onaylıyor musunuz?
                    </p>
                </div>
                <form id="RemoveUserForm" action="/Management/RemoveUser" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">İptal Et</button>
                        <button type="button" class="btn btn-danger btn-pill">Sil!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>

    function Remove(Id) {
        var token = $('#RemoveUserForm input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/Management/RemoveUser/',
            type: 'Post',
            data: { __RequestVerificationToken: token, Id: Id },
            success: function (response) {


                toastr.success('Kullanıcı Başarıyla Silindi', 'Başarılı');



                var row = $('[userid="' + id + '"]');

                var table = $('#userTable').DataTable();

                table.row(row).remove().draw();


              
                $('#RemoveModal').modal('hide');

            }, error: function (e) {
                console.log(e)
                toastr.error('Kullanıcı Silinirken Bir Hata Oluştu', 'Hata');
                $('#RemoveModal').modal('hide');


            }



        });

    }


    function ShowModal(id) {
        $('#RemoveModal').modal('show');

        var btn = '<button type= "button" class="btn btn-primary btn-pill" data-dismiss="modal" > İptal Et</button > ' +
            " <a class='btn btn-danger btn-pill' onclick='Remove(" + id + ")'>Sil!</a>";
        $('#RemoveModal .modal-footer').empty();
        $('#RemoveModal .modal-footer').append(btn);
    }

</script>
