@model CobanlarMarket.Models.AllViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var company = Model.company_details.FirstOrDefault();

}

<body cz-shortcut-listen="true">
    <div id="root">
        <div>
            <div class="main-layout">
             
                <div class="section-title">
                    <h2>Kampanyalar</h2>
                </div>
                <section class="campaigns">
                    <div class="container">
                        @{
                            var list = Model.campaigns.ToArray();
                            int sira = 0;
                        }
                        @for (int d = 0; d <= decimal.Ceiling(Model.campaigns.Count() / 2); d++)
                        {


                            <div class="campaigns-wrapper ">


                                @for (int c = 0; c < 2; c++)
                                {

                                    if (sira >= Model.campaigns.Count())
                                    {
                                        break;
                                    }
                                    <div class="campaign-item " style="background-image:url(@list[sira].campaign_cover)">
                                        <h3 class="campaign-title">
                                            @list[sira].campaign_title
                                        </h3>
                                        <p class="campaign-desc">
                                            @list[sira].campaign_start_date.ToString("M") - @list[sira].campaign_end_date.ToString("M")
                                        </p>
                                        <a href="/Home/CampaingDetails/@list[sira].id" class="btn btn-red">
                                            İNCELE<i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    sira++;
                                }


                            </div>

                        }
                    </div>
                </section>
                <section class="campaing-single" style="background-image:url(@(company.homepage_bottom_img != null ? company.homepage_bottom_img : "/img/single-campaign.png"))">
                    <div class="container">
                        <div class="campaing-wrapper">
                            <h2>@company.homepage_bottom_header</h2>
                            <strong>@company.homepage_bottom_text</strong><span></span><a href="#" class="btn btn-lg btn-red">
                                ALIŞVERIS YAP<i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>


</body>
