@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<body cz-shortcut-listen="true">
    <div id="root">
        <div>
            <div class="main-layout">
              
                <section class="contact">
                    <div class="contact-top">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4138.033574163952!2d39.60857053822573!3d40.812830255354626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40644f8bd47cceeb%3A0x72960f1b3681bed2!2s%C3%87obanlar%20Market!5e0!3m2!1str!2str!4v1705250407230!5m2!1str!2str"
                                    width="100%" height="500" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                    style="border: 0px;"></iframe>
                        </div>
                    </div>
                    <div class="contact-bottom">
                        <div class="container">
                            <div class="contact-titles">
                                <h4>Bizimle iletişime geçin</h4>
                                <h2>İletişim</h2>
                              
                            </div>
                            <div class="contact-elements">
                                @{
                                    CobanlarMarket.Models.users u = new CobanlarMarket.Models.users();

                                }
                                <form class="contact-form" id="contact-form" action="/Home/ContactMail" method="post">



                                    <div class="form-group col-md-6">
                                        <label>
                                            Ad <span class="required">*</span>
                                        </label>
                                        @Html.EditorFor(model => u.first_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Ad", required = "required", id = "name" } })
                                        @Html.ValidationMessageFor(model => u.first_name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">

                                        <label>Email <span class="required">*</span></label>

                                        @Html.EditorFor(model => u.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", type = "email", required = "required", id = "email" } })
                                        @Html.ValidationMessageFor(model => u.email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Başlık<span>*</span></label>
                                        <input type="text" required name="subject" id="subject">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="subject" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Mesajınız<span>*</span></label>
                                        <textarea name="message" id="message" rows="5"></textarea>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="message" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-red" type="submit" id="contactbtn">
                                            Gönder
                                        </button>
                                    </div>
                                    @Html.AntiForgeryToken()

                                </form>

                                <div class="contact-info">
                                    <div class="contact-info-item">
                                        <div class="contact-info-texts">
                                            <h2>Çobanlar Market</h2>

                                        </div>
                                    </div>
                                    <div class="contact-info-item">
                                        <div class="contact-info-texts">
                                            <p class="contact-date">ÇOBAN GIDA MAD.TİC.LMT.ŞTİ</p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date">Adres: Merkez Mahallesi Atatürk Caddesi No:17 TRABZON / MAÇKA</p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date"><a href="tel:Telefon: 0462 512 36 66">Telefon: 0462 512 36 66</a></p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date"><a href="mailto:Email: iletisim@cobanlarmarket.com">Email: iletisim@cobanlarmarket.com</a></p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date">Vergi No : 258 009 4457</p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date">Vergi Dairesi : Maçka</p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date">Mensubu Olduğu Sektörel Kuruluş  : TRABZON TİCARET VE SANAYİ ODASI</p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date">Kep Adresi : mertsamet.coban@hs01.kep.tr </p>
                                        </div>
                                        <div class="contact-info-texts">
                                            <p class="contact-date">Mersis NO : 0258009445100019</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('#contact-form').submit(function (e) {
                console.log("sadadadasd");
                e.preventDefault();
                var name = $('#name').val();
                var email = $('#email').val();
                var subject = $('#subject').val();
                var message = $('#message').val();
                var token = $('#contact-form input[name="__RequestVerificationToken"]').val();


                var formData = new FormData();

                formData.append('Name', name);
                formData.append('Email', email);
                formData.append('Subject', subject);
                formData.append('Message', message);
                formData.append("__RequestVerificationToken",token);

                if ($('#contact-form').valid()) {

                    $.ajax({
                        url: '/Home/ContactMail/',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $('#loading').show();
                        },
                        success: function (result) {
                            if (result.success) {
                                toastr.success(result.message);
                                $('#contact-form').trigger("reset");
                            } else {
                                toastr.error(result.message);

                            }

                        }, complete: function () {
                            $('#loading').hide();
                        },
                        error: function (error) {
                            console.error(error);
                        }





                    });
                }



            });
        });


    </script>

</body>


