@model CobanlarMarket.Models.AllViewModel
@{

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var deneme = Session["deneme"] as CobanlarMarket.Models.users;
}


<body cz-shortcut-listen="true">
    

    <div id="root">
        <div>
            <div class="main-layout">

                <section class="slider">
                    <div class="slider-elements">
                        <div class="slider-item fade">
                            <div class="slider-image">
                                <img src="~/img/12.jpg" class="img-fluid" alt="" />

                                <div class="container" style="margin-left:80px;">
                                    <p class="slider-title">YAZ 2024</p>
                                    <h2 class="slider-heading">TASARRUF EDİN 70%</h2>
                                    <a href="#" class="btn btn-lg btn-red">Alişveriş Yap</a>
                                </div>
                            </div>


                        </div>

                    </div>
                </section>
                @*<ul>
                        @foreach (var item in Model.carts.Where(x => x.user_id == 10))
                        {
                            var a = item.cart_item.ToList();
                            foreach (var x in a)
                            {
                                <li> @Model.products.FirstOrDefault(s => s.id == x.product_id).name</li>
                            }

                        }
                    </ul>*@




                <section class="categories">
                    <div class="container">
                        <div class="section-title">

                            <h2>TÜM KATEGORİLER</h2>
                            <p>yaz Koleksiyiyonleri karsinizda</p>
                        </div>
                        <div>
                            <ul class="category-list">

                                @foreach (var category in Model.categories)
                                {
                                    <li class="category-item">
                                        <a href="/Home/Shop#category-@category.id">

                                            @if (category.cover != null)
                                            {
                                                <img src="@category.cover"
                                                     alt=""
                                                     class="img1" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/theme/images/empty.png"
                                                     alt=""
                                                     class="img1" />
                                            }

                                            <span class="category-title">@category.name</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="products">
                    <div class="container">
                        <div class="section-title">
                            <h2>TÜM ÜRÜNLER</h2>
                            <p>Yaz Koleksiyiyonleri karsinizda</p>
                        </div>
                        <div class="product-wrapper glide">
                            <div class="slick-slider" dir="ltr">
                                <button class="glide__arrow glide__arrow--left">
                                    <i class="bi bi-chevron-left"></i>
                                </button>
                                <div class="slick-list">
                                    @{
                                        int i = -1;
                                    }
                                    @foreach (var product in Model.products)
                                    {
                                        <div style="width: 450px">
                                            <div>
                                                <div class="product-item ">
                                                    <div class="product-image">
                                                        <a href="/Home/Product/@product.id">
                                                            @if (product.cover != null)
                                                            {
                                                                <img src="@product.cover" alt="" class="img1" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Content/theme/images/empty.png" alt="" class="img1" />
                                                            }
                                                        </a>
                                                    </div>
                                                    <div class="product-info">
                                                        <a href="#" class="product-title">@product.name</a>
                                                        <ul class="product-star">
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-fill"></i></li>
                                                            <li><i class="bi bi-star-half"></i></li>
                                                        </ul>
                                                        <div class="product-prices">
                                                            <strong class="new-price">&#8378;@product.products_skus.FirstOrDefault(x => x.product_id == product.id).price</strong>
                                                            @if (product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price != null)
                                                            {
                                                                <span class="old-price">
                                                                    &#8378;@product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price
                                                                </span>
                                                            }
                                                        </div>
                                                        @if (product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price != null)
                                                        {
                                                            var discount = (product.products_skus.FirstOrDefault(x => x.product_id == product.id).price / product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price * 100);
                                                            <span class="product-discount">
                                                                <span>-%@(100-Math.Round((decimal)discount))</span>
                                                            </span>
                                                        }
                                                    <div class="product-links">
                                                        <a onclick="AddCart(@product.id)">
                                                            <i class="bi bi-basket-fill"></i>
                                                        </a>
                                                        @*<a onclick="AddWishlist(@product.id)">
                                                            <i class="bi bi-heart-fill"></i>
                                                        </a>*@
                                                        <a class="product-link" href="/Home/Product/@product.id"><i class="bi bi-eye-fill"></i></a>
                                                        @{
                                                            // Mevcut protokol ve domaini al
                                                            string domain = Request.Url.Scheme + "://" + Request.Url.Authority;
                                                            // Ürün yolunu dinamik olarak oluştur
                                                            string productPath = Url.Action("Product", "Home", new { id = product.id });
                                                            // Domain ile yolu birleştir
                                                            string fullUrl = $"{domain}{productPath}";
                                                        }
                                                        <a class="shareBtn" link="@fullUrl">
                                                            <i class="bi bi-share-fill"></i>
                                                        </a>

                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                </div>
                                <button class="glide__arrow glide__arrow--right">
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </div>

                        @*<style>
                                body {
                                    background-color: #F5F5FF;
                                }

                                .wrapper {
                                    padding: 70px 0;
                                    overflow-x: hidden;
                                }


                                .my-slider {
                                    padding: 0 70px;
                                }

                                .slick-initialized .slick-slide {
                                    background-color: #b32532;
                                    color: #FFF;
                                    height: 200px;
                                    margin: 0 15px 0 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }



                                .slick-next, .slick-prev {
                                    z-index: 5;
                                }

                                .slick-next {
                                    right: 15px;
                                }

                                .slick-prev {
                                    left: 15px;
                                }

                                    .slick-next:before, .slick-prev:before {
                                        color: #000;
                                        font-size: 26px;
                                    }
                            </style>

                            <div class="wrapper">
                                <div class="my-slider">
                                    @{
                                        int i = -1;
                                    }
                                    @foreach (var product in Model.products)
                                    {
                                        <div style="width: 450px">

                                            <div class="product-item glide__slide glide__slide--active">
                                                <div class="product-image">
                                                    <a href="/Home/Product/@product.id">
                                                        @if (product.cover != null)
                                                        {
                                                            <img src="@product.cover" alt="" class="img1" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/theme/images/empty.png" alt="" class="img1" />
                                                        }
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <a href="#" class="product-title">@product.name</a>
                                                    <ul class="product-star">
                                                        <li><i class="bi bi-star-fill"></i></li>
                                                        <li><i class="bi bi-star-fill"></i></li>
                                                        <li><i class="bi bi-star-fill"></i></li>
                                                        <li><i class="bi bi-star-fill"></i></li>
                                                        <li><i class="bi bi-star-half"></i></li>
                                                    </ul>
                                                    <div class="product-prices">
                                                        <strong class="new-price">&#8378;@product.products_skus.FirstOrDefault(x => x.product_id == product.id).price</strong>
                                                        @if (product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price != null)
                                                        {
                                                            <span class="old-price">
                                                                &#8378;@product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price
                                                            </span>
                                                        }
                                                    </div>
                                                    @if (product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price != null)
                                                    {
                                                        var discount = (product.products_skus.FirstOrDefault(x => x.product_id == product.id).price / product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price * 100);
                                                        <span class="product-discount">
                                                            <span>-%@(100-Math.Round((decimal)discount))</span>
                                                        </span>
                                                    }
                                                    <div class="product-links">
                                                        <a onclick="AddCart(@product.id)">
                                                            <i class="bi bi-basket-fill"></i>
                                                        </a>
                                                        <a onclick="AddWishlist(@product.id)">
                                                            <i class="bi bi-heart-fill"></i>
                                                        </a>
                                                        <a class="product-link" href="/Home/Product/@product.id"><i class="bi bi-eye-fill"></i></a><a href="#">
                                                            <i class="bi bi-share-fill"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        i++;
                                    }


                                </div>
                            </div>*@

                    </div>
                </section>









                <div class="section-title">
                    <h2>Kampanyalar</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                </div>
                <section class="campaigns">
                    <div class="container">
                        @{
                            var list = Model.campaigns.ToArray();
                            int sira = 0;
                        }
                        @for (int d = 0; d <= decimal.Ceiling(Model.campaigns.Count() / 2); d++)
                        {


                            <div class="campaigns-wrapper ">


                                @for (int c = 0; c < 2; c++)
                                {

                                    if (sira >= Model.campaigns.Count())
                                    {
                                        break;
                                    }
                                    <div class="campaign-item " style="background-image:url(@list[sira].campaign_cover)">
                                        <h3 class="campaign-title">
                                            @list[sira].campaign_title
                                        </h3>
                                        <p class="campaign-desc">
                                            @list[sira].campaign_start_date.ToString("M") - @list[sira].campaign_end_date.ToString("M")
                                        </p>
                                        <a href="/Home/CampaingDetails/@list[sira].id" class="btn btn-red">
                                            İNCELE<i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    sira++;
                                }


                            </div>

                        }
                    </div>
                </section>

                @*<section class="blogs blog-page">
                        <div class="container">
                            <div class="section-title">
                                <h2>Blog</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                            </div>
                            <ul class="blog-list">
                                <li class="blog-item">
                                    <a href="#" class="blog-image">
                                        <img src="~/img/blogs/blog1.jpg" alt="" />
                                    </a>
                                    <div class="blog-info">
                                        <div class="blog-info-top">
                                            <span>25 Feb,2024</span>-<span>0 Comment</span>
                                        </div>
                                        <div class="blog-info-center">
                                            <a href="#">Lorem ipsum dolor sit.</a>
                                        </div>
                                        <div class="blog-info-bottom">
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="blog-item">
                                    <a href="#" class="blog-image">
                                        <img src="~/img/blogs/blog1.jpg" alt="" />
                                    </a>
                                    <div class="blog-info">
                                        <div class="blog-info-top">
                                            <span>25 Feb,2024</span>-<span>0 Comment</span>
                                        </div>
                                        <div class="blog-info-center">
                                            <a href="#">Lorem ipsum dolor sit.</a>
                                        </div>
                                        <div class="blog-info-bottom">
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="blog-item">
                                    <a href="#" class="blog-image">
                                        <img src="~/img/blogs/blog1.jpg" alt="" />
                                    </a>
                                    <div class="blog-info">
                                        <div class="blog-info-top">
                                            <span>25 Feb,2024</span>-<span>0 Comment</span>
                                        </div>
                                        <div class="blog-info-center">
                                            <a href="#">Lorem ipsum dolor sit.</a>
                                        </div>
                                        <div class="blog-info-bottom">
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>*@
                <section class="campaing-single">
                    <div class="container">
                        <div class="campaing-wrapper">
                            <h2>New Season Better</h2>
                            <strong>40% INDIRIM</strong><span></span><a href="#" class="btn btn-lg btn-red">
                                ALIŞVERIS YAP<i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <link href="~/Content/css/slick.css" rel="stylesheet" />

    <link href="~/Content/css/slick-theme.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Content/scripts/slick.js"></script>


    @*<script>
            setTimeout(function () {
                $('.my-slider').slick({
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    arrows: true,
                    dots: true,
                    speed: 300,
                    infinite: true,
                    autoplaySpeed: 5000,
                    autoplay: true,
                    responsive: [
                        {
                            breakpoint: 991,
                            settings: {
                                slidesToShow: 3,
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                slidesToShow: 1,
                            }
                        }
                    ]
                });
            }, 8000);

        </script>*@
    <script src="~/Scripts/jquery-3.7.1.js"></script>

    <link href="~/Content/css/slick.css" rel="stylesheet" />

    <link href="~/Content/css/slick-theme.css" rel="stylesheet" />
    <script src="~/Content/scripts/slick.js"></script>
    <script>

        $('.slick-list').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ],
            nextArrow: '.glide__arrow--right',
            prevArrow: '.glide__arrow--left'
        });



        function AddCart(id) {

            $.ajax({
                url: '/Home/AddCart/',
                type: 'POST',
                data: { Id: id, Adet: 1 },

                success: function (response) {

                    if (response.success) {
                        toastr.success(response.message);
                        $('#cartItemsList').html(response.cartItemsHtml);
                        var cartCount = $(response.cartItemsHtml).find(".cart-item").length;
                        $(".header-cart-count").text(cartCount);
                    } else {
                        toastr.error(response.message);
                    }

                }

            });
        }

        function AddWishlist(id) {

            $.ajax({
                url: '/Home/AddWishlist/',
                type: 'POST',
                data: { Id: id },

                success: function (response) {

                    if (response.success) {
                        toastr.success(response.message);



                    } else {
                        toastr.error(response.message);
                    }

                }

            });
        }



    </script>

</body>