﻿@model CobanlarMarket.Models.AllViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .categorylist li.active > a {
        color: red !important;
    }
</style>


<link href="~/Content/css/shoppage/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://kit.fontawesome.com/00c5ff292c.js" crossorigin="anonymous"></script>
<link href="~/Content/css/shoppage/jquery-ui.min.css" rel="stylesheet" />
@*<link href="~/Content/css/shoppage/nice-select.css" rel="stylesheet" />*@
<link href="~/Content/css/shoppage/owl.carousel.min.css" rel="stylesheet" />



<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Son Eklenen Ürünler</h4>
                            <div class="latest-product__slider owl-carousel">



                                @{
                                    var list = Model.products.OrderBy(x => x.id).Take(6).ToArray();

                                }



                                @{
                                    int a = 0;
                                    int count = list.Count();
                                    double result = Math.Ceiling((double)count / 3);
                                }
                                @for (int d = 0; d < result; d++)
                                {
                                    <div class="latest-product__slider__item">
                                        @for (int j = 0; j < 3; j++)
                                        {
                                            if (a >= list.Count())
                                            {
                                                break;
                                            }

                                            <a href="/Home/Product/@list[a].id" class="latest-product__item">
                                                <div class="latest-product__item__pic">
                                                    <img src="@(list[a].cover != null ? list[a].cover : Url.Content("~/Content/theme/images/empty.png"))" alt="" style="object-fit:cover;">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6>@list[a].name</h6>
                                                    <span>&#8378;@list[a].products_skus.FirstOrDefault().price</span>
                                                </div>
                                            </a>

                                            a++;
                                        }
                                    </div>
                                }



                            </div>
                        </div>
                    </div>

                    <div class="filter">
                        <a class="close" id="close-sidebar"> <i class="bi bi-x"></i></a>


                        <div class="sidebar__item" style="max-height:600px;overflow:auto;">
                            <h4>Kategoriler</h4>
                            <ul class="categorylist">
                                <li class="active" categoryid="-1">  <a href="#category--1" onclick="filterCategory(-1,0,this)">Tüm Kategoriler</a> </li>
                                @foreach (var item in Model.categories)
                                {

                                    <li categoryid="@item.id" categorytype="0">
                                        <a href="#category-@item.id" onclick="filterCategory(@item.id,0,this)">@item.name</a> @*kategori 0, subcategory 1*@
                                        @if (Model.sub_categories.Any(x => x.parent_id == item.id))
                                        {<ul>


                                                @foreach (var subcategory in Model.sub_categories.Where(x => x.parent_id == item.id))
                                                {
                                                    <li style="padding-left:8px;" categoryid="@subcategory.id" categorytype="1">
                                                        <a href="#subcategory-@subcategory.id" onclick="filterCategory(@subcategory.id,1,this)">@subcategory.name</a>



                                                        @if (Model.sub_subcategories.Any(x => x.parent_sub_category_id == subcategory.id))
                                                        {
                                                            <ul>

                                                                @foreach (var subsubcategory in Model.sub_subcategories.Where(x => x.parent_sub_category_id == subcategory.id))
                                                                {
                                                                    <li style="padding-left:8px;" categoryid="@subsubcategory.id" categorytype="2">
                                                                        <a href="#subsubcategory-@subsubcategory.id" onclick="filterCategory(@subsubcategory.id,2,this)">@subsubcategory.name</a>
                                                                    </li>
                                                                }
                                                            </ul>

                                                        }





                                                    </li>




                                                }
                                            </ul>


                                        }
                                    </li>
                                }
                            </ul>
                        </div>

                        @{
                            // Eğer products_skus null değilse ve en az bir eleman içeriyorsa
                            var minPrice = (Model.products_skus != null && Model.products_skus.Any())
                                           ? Math.Round((decimal)Model.products_skus.Min(x => x.price))
                                           : 0; // Null veya boşsa 0 döner

                            var maxPrice = (Model.products_skus != null && Model.products_skus.Any())
                                           ? Math.Round((decimal)Model.products_skus.Max(x => x.price))
                                           : 0; // Null veya boşsa 0 döner
                        }

                        <div class="sidebar__item">
                            <h4>Fiyat</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="@minPrice"
                                     data-max="@maxPrice">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        &#8378;<input type="text" id="minamount">
                                        &#8378;<input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="sidebar__item sidebar__item__color--option">
                                <h4>Colors</h4>
                                <div class="sidebar__item__color sidebar__item__color--white">
                                    <label for="white">
                                        White
                                        <input type="radio" id="white">
                                    </label>
                                </div>
                                <div class="sidebar__item__color sidebar__item__color--gray">
                                    <label for="gray">
                                        Gray
                                        <input type="radio" id="gray">
                                    </label>
                                </div>
                                <div class="sidebar__item__color sidebar__item__color--red">
                                    <label for="red">
                                        Red
                                        <input type="radio" id="red">
                                    </label>
                                </div>
                                <div class="sidebar__item__color sidebar__item__color--black">
                                    <label for="black">
                                        Black
                                        <input type="radio" id="black">
                                    </label>
                                </div>
                                <div class="sidebar__item__color sidebar__item__color--blue">
                                    <label for="blue">
                                        Blue
                                        <input type="radio" id="blue">
                                    </label>
                                </div>
                                <div class="sidebar__item__color sidebar__item__color--green">
                                    <label for="green">
                                        Green
                                        <input type="radio" id="green">
                                    </label>
                                </div>
                            </div>
                            <div class="sidebar__item">
                                <h4>Popular Size</h4>
                                <div class="sidebar__item__size">
                                    <label for="large">
                                        Large
                                        <input type="radio" id="large">
                                    </label>
                                </div>
                                <div class="sidebar__item__size">
                                    <label for="medium">
                                        Medium
                                        <input type="radio" id="medium">
                                    </label>
                                </div>
                                <div class="sidebar__item__size">
                                    <label for="small">
                                        Small
                                        <input type="radio" id="small">
                                    </label>
                                </div>
                                <div class="sidebar__item__size">
                                    <label for="tiny">
                                        Tiny
                                        <input type="radio" id="tiny">
                                    </label>
                                </div>
                            </div>*@
                    </div>


                    <div class="overlay" id="overlay"></div>


                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>İndirimdekiler</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">


                            @foreach (var product in Model.products.Where(x => x.products_skus.FirstOrDefault().old_price != null))
                            {

                                var discount = (product.products_skus.FirstOrDefault(x => x.product_id == product.id).price / product.products_skus.FirstOrDefault(x => x.product_id == product.id).old_price * 100);
                                <div class="col" style="margin:0 20px 0 20px">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg" onclick="event.preventDefault(); event.stopPropagation();location.href = '/Home/Product/@product.id';" style="z-index:1"
                                             data-setbg="@(product.cover != null ? product.cover : Url.Content("~/Content/theme/images/empty.png"))">




                                            <div class="product__discount__percent" style="z-index:2">-@(100-Math.Round((decimal)discount))%</div>
                                            <ul class="product__item__pic__hover" style="z-index:2">
                                                @*<li><a onclick="event.preventDefault(); event.stopPropagation();"><i class="fa fa-heart"></i></a></li>*@


                                                @{
                                                    // Mevcut protokol ve domaini al
                                                    string domain = Request.Url.Scheme + "://" + Request.Url.Authority;

                                                    // Ürün yolunu dinamik olarak oluştur
                                                    string productPath = Url.Action("Product", "Home", new { id = product.id });

                                                    // Domain ile yolu birleştir
                                                    string fullUrl = string.Format("{0}{1}", domain, productPath);
                                                }


                                                <li><a class="shareBtn" link="@fullUrl" onclick="event.preventDefault(); event.stopPropagation();"><i class="fa fa-share-alt"></i></a></li>
                                                <li><a onclick="event.preventDefault(); event.stopPropagation(); AddCart(@product.id);"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span></span>
                                            <h5><a href="#">@product.name</a></h5>
                                            <div class="product__item__price">&#8378;@product.products_skus.FirstOrDefault().price <span>&#8378;@product.products_skus.FirstOrDefault().old_price</span></div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="productsContainer">
                    @Html.Action("GetProductsPartial", "Home", new { CategoryId = -1, PriceRange = "All", PageNumber = 1, })
                </div>


            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<script src="~/Content/css/shoppage/js/bootstrap.min.js"></script>
<script src="~/Content/css/shoppage/js/jquery-ui.min.js"></script>
@*<script src="~/Content/css/shoppage/js/jquery.nice-select.min.js"></script>*@
<script src="~/Content/css/shoppage/js/jquery.slicknav.js"></script>
<script src="~/Content/css/shoppage/js/mixitup.min.js"></script>
<script src="~/Content/css/shoppage/js/owl.carousel.min.js"></script>
<script src="~/Content/css/shoppage/js/main.js"></script>


<script src="~/Scripts/jquery-3.7.1.js"></script>
<!-- HTML !-->


<script>
  
  
  
 

    function AddCart(id) {
        $.ajax({
            url: '/Home/AddCart/',
            type: 'POST',
            data: { Id: id, Adet: 1 }, 
            beforeSend: function () {
                $('#loading').show();
            },
            success: function (response) {
                if (response.success) {
                    toastr.success(
                        `
              <div class="inline-elements" style="display:flex;align-items:center;">
                  <span>`+ response.message + `</span>
                  <a href="/Home/Cart" class="success-btn">Sepete Git</a>
              </div>
              `
                    );
                    $('#cartItemsList').html(response.cartItemsHtml);
                    var cartCount = $(response.cartItemsHtml).find(".cart-item").length;
                    $(".header-cart-count").text(cartCount);
                } else {
                    toastr.error(response.message);
                }
            },complete: function () {
                $('#loading').hide();
            },
            error: function (xhr, status, error) {
                toastr.error("Bir hata oluştu: " + error);
            }
        });
    }
  

       


        $(document).on("click", ".product__pagination a", function (event) {
            event.preventDefault();
            var categoryId = $(this).attr('categoryId');
            var priceRange = $('#minamount').val() + "-" + $('#maxamount').val();
            var pageNumber = $(this).attr("pn");

            console.log(categoryId);
            console.log(pageNumber);

            $.ajax({
                url: '/Home/GetProductsPartial/',
                type: 'POST',
                data: { CategoryId: parseInt(categoryId), PriceRange: priceRange, PageNumber: parseInt(pageNumber) },
                success: function (response) {
                    $('.productsContainer').fadeOut(300, function () {
                        $(this).empty();

                        $(this).fadeIn(300, function () {
                            $('html, body').animate({
                                scrollTop: $(".productsContainer").offset().top
                            }, 300);
                        });
                        $(this).html(response);
                        $('.set-bg').each(function () {
                            var bg = $(this).data('setbg');
                            $(this).css('background-image', 'url(' + bg + ')');
                        });

                    });
                },
                error: function (xhr, status, error) {
                }
            });
        });


        function filterCategory(categoryId, categoryType, element) {
            var priceRange = $('#minamount').val() + "-" + $('#maxamount').val();

            $.ajax({
                url: '/Home/GetProductsPartial/',
                type: 'POST',
                data: { CategoryId: parseInt(categoryId), CategoryType: categoryType, PriceRange: priceRange, PageNumber: 1 },
                success: function (response) {
                    $('.productsContainer').fadeOut(300, function () {
                        $(this).empty();
                        $(this).html(response);

                        $('.set-bg').each(function () {
                            var bg = $(this).data('setbg');
                            $(this).css('background-image', 'url(' + bg + ')');
                        });

                        $(this).fadeIn(300, function () {
                            $('html, body').animate({
                                scrollTop: $(".productsContainer").offset().top
                            }, 300);
                        });



                    });

                    // Aktif sınıfını güncelle
                    $('.sidebar__item ul li').removeClass('active'); // Tüm li'lerden active sınıfını kaldır

                    // Aktif olan öğeye active sınıfını ekle
                    $(element).closest('li').addClass('active');
                    $('.sidebar__item ul [categoryid="' + categoryId + '"][categorytype="' + categoryType + '"]').addClass('active');





                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", error);
                }
            });
        }



        function checkHashAndFilter() {
            var hash = window.location.hash.substring(1);
            if (hash) {
                var parts = hash.split('-');
                if (parts.length === 2) {
                    var type = parts[0];
                    var id = parseInt(parts[1]);
                    if (!isNaN(id)) {
                        if (type === 'category') {
                            categoryType = 0;
                        } else if (type === 'subcategory') {
                            categoryType = 1;
                        } else if (type === 'subsubcategory') {
                            categoryType = 2;
                        }
                        console.log(id + " " + categoryType);

                        filterCategory(id, categoryType);

                    }
                }
            }
        }




        $(document).ready(function () {
            // Sayfa yüklendiğinde hash'i kontrol et
            checkHashAndFilter();

            // Hash değiştiğinde hash'i kontrol et
            $(window).on('hashchange', function () {
                checkHashAndFilter();
            });
        });


        $(document).on('change', '#sortSelect', function () {
            var selectedOption = $(this).find('option:selected');
            var orderType = selectedOption.attr('orderType');



            var categoryId = $(".categorylist .active").attr('categoryId');
            var categoryType = $(".categorylist .active").attr('categoryType');

            var priceRange = $('#minamount').val() + "-" + $('#maxamount').val();

            $.ajax({
                url: '/Home/GetProductsPartial/',
                type: 'POST',
                data: { CategoryId: parseInt(categoryId), CategoryType: categoryType, PriceRange: priceRange, PageNumber: 1, OrderType: orderType },
                success: function (response) {
                    $('.productsContainer').fadeOut(300, function () {
                        $(this).empty();
                        $(this).html(response);

                        $('.set-bg').each(function () {
                            var bg = $(this).data('setbg');
                            $(this).css('background-image', 'url(' + bg + ')');
                        });

                        $(this).fadeIn(300, function () {
                            $('html, body').animate({
                                scrollTop: $(".productsContainer").offset().top
                            }, 300);
                        });



                    });







                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", error);
                }
            });


        });



        $(document).on('click', '#filterbtn', function () {
            $('.filter').toggleClass('show');// İçeriği aç/kapat
            $('#overlay').toggleClass('show');

            if ($('.filter').hasClass('show')) {
                $('body').css('overflow', 'hidden'); // Sayfanın kaymasını engelle
            } else {
                $('body').css('overflow', ''); // Varsayılan durum
            }
        });

         $("#close-sidebar").click(function () {
     
            $('.filter').removeClass('show'); // Sidebar'ı kapat
            $('#overlay').removeClass('show'); // Overlay'i kapat
            $('body').css('overflow', '');
        });

        $(document).on('click', '#overlay', function () {
            $('.filter').removeClass('show'); // Sidebar'ı kapat
            $('#overlay').removeClass('show'); // Overlay'i kapat
            $('body').css('overflow', '');
        });


  

   
</script>