@model CobanlarMarket.Models.AllViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var order = Model.order_details.First();
    var user = Model.users.FirstOrDefault(x => x.id == order.user_id);
    var payment = Model.payment_details.FirstOrDefault(x => x.order_id == order.id);

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<style>
    #dtable tbody tr {
        border-bottom: 1px solid #e5e9f2;
    }

        #dtable tbody tr:nth-last-child(1) {
            border-bottom: none !important;
        }


    table {
        border-collapse: collapse;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
        overflow: hidden;
        width: 500px;
        border-radius: 10px;
    }

    th, td {
        font-family: 'Motnserrat',sans-serif;
        text-align: left;
        font-size: 12px;
        padding: 10px;
    }

    th {
        background-color: red;
        color: white;
    }
    .product-card {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        height:100px;
    }

        .product-card img {
            width: 100px;
            height: 80px;
            object-fit: cover;
            border-radius: 10px;
        }
        .product-card span:first-child{
            margin-bottom:5px;
        }



    #ptable tbody tr {
        border-bottom: none !important;
    }

        #ptable tbody tr:nth-last-child(2) {
            border-bottom: 1px solid #e5e9f2 !important;

        }
        #ptable tbody tr:nth-last-child(1) td{
            font-size:15px;
            font-weight:600;

        }
       .badge {
        background-color: red;
        color: white;
        padding: 4px 8px;
        text-align: center;
        border-radius: 5px;
    }
    .shipping-link a {
        color:red;
        
    }
</style>





<div class="container col-12 col-md-10 col-xl-9 col-xxl-10 justify-content-center d-flex">

    <div class="row pt-5 pb-5" style="width:inherit;">




        <div class="col-xl-7 container col-12">
            @foreach (var item in Model.order_item)
            {


                <div class="row mb-3 me-1 ms-1 align-items-center product-card">

                    <div class=" col-4 col-sm-3 col-lg-2 col-xl-4 col-xxl-3 d-flex align-items-center">
                        <img src="@item.products.cover" />
                    </div>


                    <div class="col-8 col-sm-9 col-lg-10 col-xl-8 col-xxl-9 container d-flex align-items-center m-0 ">
                        <div class="row"> <span> @item.quantity x @item.products.name </span><br /> <span>@(item.quantity * item.ordered_price) ₺</span>  </div>

                    </div>

                </div>

            }
        </div>

        <div class="col-xl-5 col-12">

            <div class="row mb-4">

                <div class="border" style="border-radius:10px;">
                    <table class="table table-borderless" id="dtable" style="width:-webkit-fill-available;">

                        <thead>


                            <tr>
                                <th><h3>Kargo Bilgileri</h3></th>
                                <th></th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-dark font-weight-bold">Kargo Takip Kodu</td>
                                <td class="">@(order.reference_id.HasValue ? order.reference_id.Value.ToString() : "")</td>

                            </tr>
                            @if (order.reference_id.HasValue)
                            {

                                <tr>
                                    <td class="text-dark font-weight-bold">Kargo Takip Linki</td>
                                    <td class="shipping-link"> <a href="https://www.yurticikargo.com/tr/online-servisler/gonderi-sorgula?code=@( order.reference_id.Value.ToString() )" target="_blank">Kargo Takibi İçin Tıklayın</a></td>

                                </tr>
                               

                            }
                        </tbody>

                    </table>
                 
                </div>





            </div>

            <div class="row mb-4">

                <div class="border" style="border-radius:10px;">
                    <table class="table table-borderless" id="dtable" style="width:-webkit-fill-available;">

                        <thead>


                            <tr>
                                <th><h3>Adres Bilgileri</h3></th>
                                <th></th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-dark font-weight-bold">Adres Başlığı</td>
                                <td class="">@order.shipping_title</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold">Adres</td>
                                <td class="">@order.shipping_address</td>
                            </tr>

                            <tr>
                                <td class="text-dark font-weight-bold">Mahalle / İlçe / İl / Posta Kodu</td>
                                <td class="">@order.shipping_quarter / @order.shipping_district / @order.shipping_city / @order.shipping_postal_code </td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold">Ad/Soyad</td>
                                <td class="">@order.shipping_name @order.shipping_surname</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold">İletişim Numarası</td>
                                <td class="">@order.shipping_phone_number</td>
                            </tr>
                        </tbody>

                    </table>
                </div>





            </div>
            <div class="row">


                <div class="">
                    <div class="border" style="border-radius:10px;">
                        <table class="table table-borderless" id="ptable" style="width:-webkit-fill-available;">

                            <thead>


                                <tr>
                                    <th><h3>Ödeme Bilgileri</h3></th>
                                    <th></th>


                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="text-dark font-weight-bold">Ürünler</td>
                                    <td class="">@payment.amount ₺</td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-weight-bold">Kargo</td>
                                    <td class="">@(payment.cargoPrice==0 ? "Bedava":payment.cargoPrice+ " ₺") </td>
                                </tr>
                                @if (order.coupon_id.HasValue)
                                {
                                    <tr>
                                        <td class="text-dark font-weight-bold">İndirim <span class="badge ms-1">@payment.coupons.Code</span></td>
                                        <td class=""> -@payment.couponDiscountValue ₺</td>
                                    </tr>

                                }
                                <tr>
                                    <td class="text-dark">Genel Toplam</td>
                                    <td class="">@payment.paidPrice ₺</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>




        </div>

    </div>





</div>


