@model List<CobanlarMarket.Models.cart_item>
@{
    decimal? toplam = 0;
    var kisi = Session["user"];
    if (kisi != null)
    {
        CobanlarMarket.Models.users user = kisi as CobanlarMarket.Models.users;
        toplam = 0;
        var kargo = 30;
        decimal? couponDiscount = 0;



        <section class="cart-page">
            <div class="container">
                <div class="cart-page-wrapper">
                    <form class="cart-form">
                      
                        <div class="shop-table-wrapper">


                            <table class="shop-table">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Ürün</th>
                                        <th class="product-price">Fiyat</th>
                                        <th class="product-quantity">Adet</th>
                                        <th class="product-subtotal">Toplam Tutar</th>
                                    </tr>
                                </thead>
                                <tbody class="cart-wrapper">





                                    @foreach (var cartItem in Model)
                                    {
                                        <tr class="cart-item" id="@cartItem.id">
                                            <td></td>
                                            <td class="cart-image">
                                                <img src="@cartItem.products.cover" alt=""><i class="bi bi-x delete-cart" onclick="removeItemInCart(@cartItem.id)"></i>
                                            </td>
                                            <td>@cartItem.products.name</td>
                                            <td>&#8378;@cartItem.products.products_skus.FirstOrDefault().price</td>
                                            <td class="product-quantity d-flex justify-content-center align-items-center">

                                                <div class="qty-input">
                                                    <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                                                    <input class="product-qty" type="number" name="product-qty" min="-1" max="15" step="1" value="@cartItem.quantity">
                                                    <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                                                </div>

                                            </td>
                                            <td class="product-subtotal">&#8378;@(cartItem.quantity * cartItem.products.products_skus.FirstOrDefault().price)</td>
                                        </tr>


                                        toplam += (cartItem.quantity * cartItem.products.products_skus.FirstOrDefault().price);
                                    }


                                </tbody>
                            </table>
                            <div class="free-progress-bar">
                                <p class="progress-bar-title">
                                    @{
                                        if (toplam <= 300)
                                        {
                                            decimal bar = (toplam.HasValue) ? (toplam.Value / 300 * 100) : 0;
                                            string formattedBar = bar.ToString("F2").Replace(',', '.');
                                            <strong>@(300 - toplam)₺</strong> <span>’lik daha ürün eklersen kargon ücretsiz!</span>
                                            <div class="progress-bar"><span class="progress" style="width:@(formattedBar)%"></span></div>
                                        }
                                        else
                                        {
                                            <span>Kargo Ücretsiz!</span>
                                            <div class="progress-bar"><span class="progress" style="width:100%;"></span></div>

                                        }

                                    }
                                </p>
                               
                            </div>
                            <div class="actions-wrapper">
                                <div class="coupon">
                                    <input type="text " class="input-text"
                                           placeholder="Coupon code"><button class="btn btn-black">
                                        Appyl
                                        Coupon
                                    </button>
                                </div>
                                <div class="update-cart"><button class="btn btn-red">Update Cart</button></div>
                            </div>
                        </div>
                    </form>
                    <div class="cart-collaterals">
                        <div class="cart-totals">
                            <h2>Sepet Toplamı</h2>
                            <table id="cartTotalTable">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Ürün Toplamı</th>
                                        <td><span id="subtotal">&#8378;@toplam</span></td>
                                    </tr>
                                    <tr id="address">
                                        <th>Adres</th>
                                        <td>
                                            <ul>

                                                <li id="cartAddress">




                                                    <a href="#Adres" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                                                        Adres Değiştir/Ekle
                                                    </a>

                                                </li>
                                            </ul>


                                        </td>

                                    </tr>
                                    @if (Session["CartsForPartial"] != null && Session["CouponsForPartial"] != null)
                                                {
                                                    var carts = Session["CartsForPartial"] as List<CobanlarMarket.Models.cart>;
                                                    var coupons = Session["CouponsForPartial"] as List<CobanlarMarket.Models.coupons>;
            
                                                    if (carts.FirstOrDefault(x => x.user_id == user.id).coupon_id.HasValue)
                                                    {
                                                        if (coupons.FirstOrDefault(x => x.Id == carts.FirstOrDefault(x => x.user_id == user.id).coupon_id).Code != null)
                                                        {
                                                <tr class='couponadded' style='border:none;'><th> İndirim</th>  </tr>
                                                <tr class='couponadded'>
                                                    <th>
                                                        Kupon Kodu Uygulandı:<strong>  @coupons.FirstOrDefault(x => x.Id == carts.FirstOrDefault(x => x.user_id == user.id).coupon_id).Code   </strong>
                                                    </th>
                                                    <td> İndirim -&#8378; @carts.FirstOrDefault(x => x.user_id == user.id).discount_value </td>


                                                </tr>



                                                string discountValue = carts.FirstOrDefault(x => x.user_id == user.id).discount_value;

                                                // "en-US" kültürüne göre decimal parse işlemi
                                                couponDiscount = decimal.Parse(discountValue, new System.Globalization.CultureInfo("en-US"));

                                            }
                                        }

                                    }



                                    @{
                                        if (toplam >= 300)
                                        {
                                            <tr class="cargo">
                                                <th>Kargo</th>
                                                <td><del>₺@kargo</del> <strong>0₺</strong></td>
                                            </tr>
                                            kargo = 0;

                                        }
                                        else
                                        {
                                            <tr class="cargo">
                                                <th>Kargo</th>
                                                <td>₺@kargo</td>
                                            </tr>
                                        }
                                    }



                                    <tr class="lasttotal">
                                        <th>Toplam</th>
                                        <td><strong id="cart-total">&#8378;@(toplam+kargo-couponDiscount)</strong></td>
                                    </tr>
                                </tbody>
                            </table>


                            <div class="checkout">
                                <button class="btn btn-lg btn-red btn-order">
                                    Sipariş Ver
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
}