@model CobanlarMarket.Models.AllViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">



    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">


    <link href="~/Content/css/All.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="~/Scripts/jquery-3.7.1.js"></script>

    <link href="~/Content/css/slick.css" rel="stylesheet" />

    <link href="~/Content/css/slick-theme.css" rel="stylesheet" />
    <script src="~/Content/scripts/slick.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>

        .dropbtn {
            background-color: transparent;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: red;
                    color: white;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: red;
            color: white;
        }



        .category-button {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            position: relative;
        }

        .category-list {
            display: none; /* Başlangıçta gizli */
            position: absolute;
            background-color: white;
            border: 1px solid #ddd;
            margin-top: 5px;
            z-index: 1000; /* Üstte görünmesi için */
            width: 150px;
        }

        .category-item {
            padding: 10px;
            cursor: pointer;
        }

            .category-item:hover {
                background-color: #f7f7f7;
            }

        .sub-category {
            display: none; /* Başlangıçta gizli */
            position: absolute;
            left: 160px; /* Sağda açılması için */
            top: 0;
            background-color: white;
            border: 1px solid #ddd;
            z-index: 1000;
            width: 200px; /* Alt kategorilerin genişliği */
        }

        .category-item:hover .sub-category {
            display: block; /* Hover olduğunda göster */
        }
        .category-item {
            position: relative; /* Alt kategorilerin düzgün görünmesi için */
        }

        .sub-category-panel {
            display: none; /* Başlangıçta gizli */
            position: absolute;
            background-color: white;
            border: 1px solid #ddd;
            margin-top: 5px;
            z-index: 1000; /* Üstte görünmesi için */
            width: 200px; /* Alt kategori paneli genişliği */
        }

            .sub-category-panel.visible {
                display: block; /* Hover olduğunda göster */
            }

        .sub-sub-category {
            display: none; /* Başlangıçta gizli */
        }

        .sub-category-item:hover .sub-sub-category {
            display: block; /* Alt kategorinin üzerine gelindiğinde alt-alt kategoriyi göster */
        }
    </style>

</head>

<body>
    <link href="~/Content/css/navbar/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <div id="toaster"></div>

    <header class="header">
        <div class="global-notification">
            <p>
                @Model.company_details.FirstOrDefault().homepage_top_text<a href="/Home/Shop">ALİSVERİS YAP</a>
            </p>
        </div>






        <nav class="nav container " >
            <div class="nav__data">
                <a href="~/Home/Index" class="nav__logo">
                    <i class="ri-store-2-line"></i> Çobanlar Market
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li>
                        <a class="nav__link active" href="~/Home/Index">Ana Sayfa</a>

                    </li>



                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link" id="shoppingDropdown">
                            <a class="dropdown__a" href="~/Home/Shop">Alışveriş</a>  <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu" id="categoryList">
                            <!-- Kategoriler ve alt kategoriler buraya eklenecek -->
                        </ul>
                    </li>
                    <li>

                        <a class="nav__link" href="~/Home/Campaing">Kampanyalar</a>

                    </li>



                    <li>
                        <a class="nav__link" href="~/Home/Contact">İletişim</a>
                    </li>

                    <li>
                        <a href="#" class="nav__link search-button" style="justify-content:left;">
                            <i class="ri-search-line"></i> <span>Ara</span>
                        </a>
                    </li>

                    <!--=============== DROPDOWN 2 ===============-->




                    @{
                        var kisi = Session["User"];
                        if (kisi != null)
                        {
                            CobanlarMarket.Models.users user = kisi as CobanlarMarket.Models.users;


                            <li class="dropdown__item">
                                <div class="nav__link user-btn" style="justify-content:left;">
                                    <span>@user.first_name</span>  <i class="ri-arrow-down-s-line dropdown__arrow"></i>


                                </div>

                                <ul class="dropdown__menu">
                                    <li>
                                        <a href="#" class="dropdown__link">
                                            <i class="ri-user-line"></i> Hesabım
                                        </a>
                                    </li>



                                    <li>

                                        <a href="/Home/LogOut" class="dropdown__link">
                                            <i class="ri-logout-box-line"></i> Çıkış Yap
                                        </a>
                                    </li>
                                </ul>
                            </li>



                            <li>

                                <a class="header-cart-link nav__link" href="~/Home/Cart" style="">
                                    <i class="ri-shopping-cart-line">
                                        <span class="header-cart-count">@Model.carts.Where(x => x.user_id == user.id).FirstOrDefault().cart_item.Count()</span>

                                    </i>
                                </a>
                            </li>










                        }
                        else
                        {


                            <li>
                                <a class="nav__link user-btn" href="~/Home/Auth" style="justify-content:left;"> <i class="ri-user-line"></i> <span>Giriş Yap</span></a>
                            </li>

                            <li>
                                <a class="nav__link cart-btn" href="~/Home/Cart"> <i class="ri-shopping-cart-line"><span class="header-cart-count">0</span></i></a>
                            </li>




                        }

                    }


                </ul>
            </div>
        </nav>










    </header>
    <div class="modal-search">
        <div class="modal-wrapper">
            <h3 class="modal-title">Ürün Ara</h3>
            <p class="modal-text">
                Aradığınız ürünleri görmek için yazmaya başlayın.
            </p>
            <form class="search-form">
                <input type="text" id="search-product" placeholder="Size ne lazım?" /><button>
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <div class="search-result-parent">

            </div>

            <button class="close-search"><i class="bi bi-x-circle" id="close-search"></i></button>
        </div>
        <div class="modal-overlay"></div>
    </div>

    @RenderBody()

    <footer class="footer">
        <div class="subscribe-row">
            <div class="container">
                <div class="footer-row-wrapper">
                    <div class="footer-subscribe-wrapper">
                        <div class="footer-subscribe">
                            <div class="footer-subscribe-top">
                                <h3 class="subscribe-title">
                                    Get our emails for info on new items, sales and more
                                </h3>
                                <p class="subscribe-desc">
                                    Yeni ürünler, indirimler ve daha fazlası hakkında
                                    bilgi almak için
                                </p>
                            </div>
                            <div class="footer-subscribe-buttom">
                                <form>
                                    <input type="text"
                                           placeholder="Enter Your email adres." /><button class="btn btn-red">Subscribe</button>
                                </form>
                                <div class="privacy-text">
                                    <p>
                                        yeni ürünler, indirimler ve daha
                                        <a href="#"> Kanunlara buradan göz atabilirsiniz</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-contact-wrapper">
                        <div class="footer-contact-top">
                            <h3 class="contact-title">
                                Need help? <br />(+90) 545 260 00 00
                            </h3>
                            <p class="contact-desc">We are eveliby 08:00 - 07:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widgets-row">
            <div class="container">
                <div class="footer-widgets">
                    <div class="brand-info">
                        <div class="footer-logo">
                            <a href="#" class="logo">LOGO</a>
                        </div>
                        <div class="footer-desc">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit. Ab, officiis?
                            </p>
                        </div>
                        <div class="footer-contact">
                            <p>
                                <a href="tel:555 555 55 55">(+800) 1234 5478 90</a><a href="mailto:info@gmail.com">info@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="widget-nav-menu">
                        <h4>Information</h4>
                        <ul class="menu-list">
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                        </ul>
                    </div>
                    <div class="widget-nav-menu">
                        <h4>Information</h4>
                        <ul class="menu-list">
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                        </ul>
                    </div>
                    <div class="widget-nav-menu">
                        <h4>Information</h4>
                        <ul class="menu-list">
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                        </ul>
                    </div>
                    <div class="widget-nav-menu">
                        <h4>Information</h4>
                        <ul class="menu-list">
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                            <li><a href="#">Yazilacak</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-row">
            <div class="container">
                <div class="footer-copyright">
                    <div class="site-copyright">

                    </div>
                    <a href="#"><img src="/img/footer/cards.png" alt="" /></a>
                    <div class="footer-menu">
                        <ul class="footer-menu-list">
                            <li class="list-item"><a href="#">Privacy Policy</a></li>
                            <li class="list-item">
                                <a href="#">Terms and Conditions</a>
                            </li>
                            <li class="list-item"><a href="#">Returns Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/css/base.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/scripts/search-modal.js"></script>
    <script src="~/Content/theme/plugins/toaster/toastr.min.js"></script>

    <link href="~/Content/theme/plugins/toaster/toastr.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="~/Content/css/navbar/js/main.js"></script>

    <script>

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        $('#search-product').on('input', function (e) {

            var word = $('#search-product').val();

            $.ajax({
                url: '/Home/Search/',
                type: 'POST',
                data: { Word: word },

                success: function (result) {

                    console.log(result);
                    $('.search-result-parent').empty();
                    $('.search-result-parent').html(result);


                }

            });



        });

        $(document).ready(function () {
            // Dropdown'a tıklandığında kategorileri getir ve listele

            var categoryList = $('#categoryList');
            if (categoryList.children().length === 0) {  // Eğer kategoriler daha önce yüklenmemişse
                $.ajax({
                    url: '/Home/GetCategories',  // Kategorileri getiren API endpoint
                    type: 'GET',
                    success: function (categories) {
                        categoryList.empty(); // Mevcut listeyi temizle
                        categories.forEach(function (category) {
                            var listItem = $('<li></li>').addClass('dropdown__subitem').attr('categoryid', category.id).attr('categorytype', 0);
                            var link = $('<div></div>')

                                .addClass('dropdown__link')
                                  /*  .attr('onclick', 'filterCategory(' + category.id + ', 0, this)')*/;


                            var a = $('<a></a>').attr('href', '/Home/Shop#category-' + category.id)
                                .text(category.name);
                            link.append(a);

                            listItem.append(link);

                            // Alt kategorileri getir ve ekle
                            $.ajax({
                                url: '/Home/GetSubCategories',  // Alt kategorileri getiren API endpoint
                                type: 'GET',
                                data: { categoryId: category.id },
                                success: function (subCategories) {
                                    if (subCategories.length > 0) {
                                        var subCategoryList = $('<ul></ul>').addClass('dropdown__submenu');
                                        subCategories.forEach(function (subCategory) {
                                            var subListItem = $('<li></li>')
                                                .addClass('dropdown__subitem')
                                                .attr('categoryid', subCategory.id)
                                                .attr('categorytype', 1);
                                            var subLink = $('<div></div>')

                                                .addClass('dropdown__sublink')
                                                    /*.attr('onclick', 'filterCategory(' + subCategory.id + ', 1, this)')*/;
                                            var a = $('<a></a>').attr('href', '/Home/Shop#subcategory-' + subCategory.id)
                                                .text(subCategory.name);
                                            subLink.append(a);
                                            subListItem.append(subLink);
                                            subCategoryList.append(subListItem);

                                            // Alt-alt kategorileri getir ve ekle
                                            $.ajax({
                                                url: '/Home/GetSubSubCategories',  // Alt-alt kategorileri getiren API endpoint
                                                type: 'GET',
                                                data: { subcategoryId: subCategory.id },
                                                success: function (subsubCategories) {
                                                    if (subsubCategories.length > 0) {
                                                        var subsubCategoryList = $('<ul></ul>').addClass('dropdown__submenu');
                                                        subsubCategories.forEach(function (subsCategory) {
                                                            var subsubListItem = $('<li></li>')
                                                                .addClass('dropdown__subitem')
                                                                .attr('categoryid', subsCategory.id)
                                                                .attr('categorytype', 2);
                                                            var subsubLink = $('<a></a>')
                                                                .attr('href', '/Home/Shop#subsubcategory-' + subsCategory.id)
                                                                .text(subsCategory.name)
                                                                .addClass('dropdown__sublink dropdown__subsublink')
                                                                .attr('onclick', 'filterCategory(' + subsCategory.id + ', 2, this)');
                                                            subsubListItem.append(subsubLink);
                                                            subsubCategoryList.append(subsubListItem);
                                                        });
                                                        var icon = $('<i class="ri-add-line dropdown__add"></i>');

                                                        subLink.append(icon);
                                                        subListItem.append(subsubCategoryList); // Alt-alt kategoriyi doğru yere ekle
                                                    } else {

                                                    }
                                                }
                                            });
                                        });
                                        var icon = $('<i class="ri-add-line dropdown__add"></i>');
                                        link.append(icon);
                                        listItem.append(subCategoryList);
                                    } else {

                                    }
                                }
                            });

                            categoryList.append(listItem);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Kategori getirilemedi: ', error);
                    }
                });
            }
        });



        //$(document).ready(function () {
        //    // Kategorileri getir ve listele
        //    $.ajax({
        //        url: '/Home/GetCategories',
        //        type: 'GET',
        //        success: function (categories) {
        //            var categoryList = $('#categoryList');
        //            categoryList.empty(); // Önce mevcut listeyi temizle
        //            categoryList.append('<li categoryid="-1" categorytype="0" class="category-item"><a href="/Home/Shop#category--1" onclick="filterCategory(-1, 0, this)">Tüm Kategoriler</a></li>');

        //            categories.forEach(function (category) {
        //                var listItem = $('<li class="category-item"></li>').attr('categoryid', category.id).attr('categorytype', 0);
        //                var link = $('<a></a>')
        //                    .attr('href', '/Home/Shop#category-' + category.id)
        //                    .text(category.name)
        //                    .attr('onclick', 'filterCategory(' + category.id + ', 0, this)');

        //                listItem.append(link);

        //                // Alt kategorileri getir ve ekle
        //                $.ajax({
        //                    url: '/Home/GetSubCategories',
        //                    type: 'GET',
        //                    data: { categoryId: category.id },
        //                    success: function (subCategories) {
        //                        if (subCategories.length > 0) {
        //                            var subCategoryPanel = $('<div class="sub-category-panel"></div>');
        //                            subCategories.forEach(function (subCategory) {
        //                                var subListItem = $('<div class="sub-category-item"></div>').attr('categoryid', subCategory.id).attr('categorytype', 1);
        //                                var subLink = $('<a></a>')
        //                                    .attr('href', '/Home/Shop#subcategory-' + subCategory.id)
        //                                    .text(subCategory.name)
        //                                    .attr('onclick', 'filterCategory(' + subCategory.id + ', 1, this)');

        //                                subListItem.append(subLink);
        //                                subCategoryPanel.append(subListItem);

        //                                // Alt-alt kategorileri getir ve ekle
        //                                $.ajax({
        //                                    url: '/Home/GetSubSubCategories',
        //                                    type: 'GET',
        //                                    data: { subcategoryId: subCategory.id },
        //                                    success: function (subsubCategories) {
        //                                        if (subsubCategories.length > 0) {
        //                                            var subsubCategoryList = $('<div class="sub-sub-category"></div>');
        //                                            subsubCategories.forEach(function (subsCategory) {
        //                                                var subsubListItem = $('<div></div>').attr('categoryid', subsCategory.id).attr('categorytype', 2);
        //                                                var subsubLink = $('<a></a>')
        //                                                    .attr('href', '/Home/Shop#subsubcategory-' + subsCategory.id)
        //                                                    .text(subsCategory.name)
        //                                                    .attr('onclick', 'filterCategory(' + subsCategory.id + ', 2, this)');

        //                                                subsubListItem.append(subsubLink);
        //                                                subsubCategoryList.append(subsubListItem);
        //                                            });
        //                                            subListItem.append(subsubCategoryList); // Alt-alt kategoriyi doğru yere ekle
        //                                        }
        //                                    }
        //                                });
        //                            });
        //                            listItem.append(subCategoryPanel); // Alt kategorileri panele ekle
        //                        }
        //                    },
        //                    error: function (xhr, status, error) {
        //                        console.error(error);
        //                    }
        //                });

        //                categoryList.append(listItem);
        //            });

        //            // Hover olaylarını ayarla
        //            $('.category-item').hover(function () {
        //                $(this).find('.sub-category-panel').addClass('visible'); // Alt kategoriyi göster
        //            }, function () {
        //                $(this).find('.sub-category-panel').removeClass('visible'); // Alt kategoriyi gizle
        //            });
        //        },
        //        error: function (xhr, status, error) {
        //            console.error(error);
        //        }
        //    });
        //});








        $(document).ready(function () {
            $("#btn-menu").click(function (event) {
                event.stopPropagation();
                $("#sidebar").toggleClass("open");
            });

            $("#close-sidebar").click(function (event) {
                event.stopPropagation();
                $("#sidebar").removeClass("open");
            });

            // Menüyü dışarı tıkladığınızda kapatmak için
            $(document).click(function () {
                $("#sidebar").removeClass("open");
            });

            // Menünün içindeyken kapanmasını engellemek için
            $("#sidebar").click(function (event) {
                event.stopPropagation();
            });
        });

        document.querySelectorAll('.shareBtn').forEach(button => {
            button.addEventListener('click', event => {

                var data = event.currentTarget.getAttribute("link");
                if (navigator.share) {
                    navigator.share({

                        title: 'Paylaş',
                        url: data
                    }).then(() => {

                    }).catch(err => {


                        console.log(
                            "Error while using Web share API:");
                        console.log(err);
                    });
                } else {


                    alert("Browser doesn't support this API !");
                }
            });
        });

    </script>
</body>
</html>
