@model CobanlarMarket.Models.AllViewModel
@{
    var totalProduct = ViewBag.totalProcuct;
    var pageSize = ViewBag.pageSize;
    var categoryId = ViewBag.categoryId;
    var pageNumber = ViewBag.pageNumber;
    var orderType = ViewBag.orderType;
}
@*<link href="~/Content/css/shoppage/nice-select.css" rel="stylesheet" />*@

<div class="filter__item">
    <div class="row">
      


        <div class="col-lg-4 col-md-5 col-6 d-flex justify-content-lg-start justify-content-center mb-2 mb-md-0">
   




            <div class="selectdiv">
                <label>
                    <select id="sortSelect">
                        <option selected disabled hidden> Sıralama Tipi </option>
                        <option orderType="price_asc" @(orderType == "price_asc" ? "selected" : "")>Artan Fiyat</option>
                        <option orderType="price_desc" @(orderType == "price_desc" ? "selected" : "")>Azalan Fiyat</option>
                        <option orderType="A-Z" @(orderType == "A-Z" ? "selected" : "")>Alfabetik A-Z</option>
                        <option orderType="Z-A" @(orderType == "Z-A" ? "selected" : "")>Alfabetik Z-A</option>

                    </select>
                </label>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-6 d-flex align-items-center justify-content-center mb-2 mb-md-0">
            <div class="filter__found  m-0">
                <h6>@totalProduct Ürün Bulundu</h6>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-6 d-flex align-items-center  justify-content-lg-end justify-content-center mb-2 mb-md-0">
            <div class="filter__option m-0">
                <span class="icon_grid-2x2"><i class="bi bi-grid-fill"></i></span>
                @*<span class="icon_ul"><i class="bi bi-list-ul"></i></span>*@
            </div>
          
        </div>

        <div class="col-lg-4 col-md-3 col-6  d-flex align-items-center  justify-content-lg-end justify-content-center mb-2 mb-md-0">
            <button type="button" class="btn btn-outline-danger" id="filterbtn">
                <span>Filtrele</span>
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>

            </button>
        </div>

    </div>
</div>
<div class="row">


    @foreach (var product in Model.products)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg" onclick="location.href = '/Home/Product/@product.id';" data-setbg="@(product.cover != null ? product.cover : Url.Content("~/Content/theme/images/empty.png"))" style="z-index:1">
                    <ul class="product__item__pic__hover" style="z-index:2">
                        @*<li><a href="#" onclick="event.preventDefault(); event.stopPropagation();"><i class="fa fa-heart"></i></a></li>*@


                        @{
                            string domain = Request.Url.Scheme + "://" + Request.Url.Authority;
                            // Ürün yolunu dinamik olarak oluştur
                            string productPath = Url.Action("Product", "Home", new { id = product.id });
                            // Domain ile yolu birleştir
                            string fullUrl = $"{domain}{productPath}";
                        }

                        <li><a class="shareBtn" link="@fullUrl" onclick="event.preventDefault(); event.stopPropagation();"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#" onclick="event.preventDefault(); event.stopPropagation(); AddCart(@product.id)"><i class="fa fa-shopping-cart"></i></a></li>

                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a href="#">@product.name</a></h6>
                    <h5>&#8378;@product.products_skus.FirstOrDefault().price</h5>
                </div>
            </div>
        </div>
    }

</div>
@{
    var page = (int)Math.Ceiling((double)totalProduct / pageSize);

}
@if (Model.products.Any() && page > 1)
{



    <div class="product__pagination">

        @if (pageNumber > 1)
        {
            <a href="#@(pageNumber-1)" categoryId="@categoryId" pn="@(pageNumber-1)"><i class="bi bi-arrow-left "></i></a>

        }

        @for (int i = 1; i <= page % 12; i++)
        {
            <a href="#@i" categoryId="@categoryId" pn="@i" style="@( i==pageNumber? "background:red; color:white; border:none;":"")">@i</a>
        }
        @if (page > pageNumber)
        {
            <a href="#@(pageNumber+1)" categoryId="@categoryId" pn="@(pageNumber+1)"><i class="bi bi-arrow-right "></i></a>

        }
    </div>
}
@*<script src="~/Content/css/shoppage/js/jquery.nice-select.min.js"></script>*@


<script>
    document.querySelectorAll('.shareBtn').forEach(button => {
        button.addEventListener('click', event => {

            var data = event.currentTarget.getAttribute("link");
            if (navigator.share) {
                navigator.share({

                    title: 'Paylaş',
                    url: data
                }).then(() => {

                }).catch(err => {


                    console.log(
                        "Error while using Web share API:");
                    console.log(err);
                });
            } else {


                alert("Browser doesn't support this API !");
            }
        });
    });

  
</script>